.box {
  background-color: #6c63ff;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  user-select: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resizeHandle {
  position: absolute;
  background: transparent;
  z-index: 10;
}

.top {
  top: -6px;
  left: 0;
  height: 12px;
  width: 100%;
  cursor: ns-resize;
}

.right {
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
  width: 12px;
  height: 100%;
  cursor: ew-resize;
}

.bottom {
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  height: 12px;
  width: 100%;
  cursor: ns-resize;
}

.left {
  top: 0;
  left: -6px;
  width: 12px;
  height: 100%;
  cursor: ew-resize;
}

.top-left {
  top: -6px;
  left: -6px;
  width: 15px;
  height: 15px;
  cursor: nwse-resize;
}

.top-right {
  top: -6px;
  right: -6px;
  width: 15px;
  height: 15px;
  cursor: nesw-resize;
}

.bottom-left {
  bottom: -6px;
  left: -6px;
  width: 15px;
  height: 15px;
  cursor: nesw-resize;
}

.bottom-right {
  bottom: -6px;
  right: -6px;
  width: 15px;
  height: 15px;
  cursor: nwse-resize;
}
